<%= render "shared/banner", object: { title: "Save any kind of movie", caption: "Classic", image: "https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" } %>

<div class="container">
  <div class="d-flex justify-content-between py-3">
    <h3>My Lists</h3>
    <%= link_to "Create a movie list", new_list_path, class: "btn btn-success text-white" %>
  </div>

  <ul class="list-unstyled">
    <div class="cards">
      <% @lists.each do |list| %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dbazzvb3i/image/upload/v1678431876/sincerely-media-zcw3l-ypqFI-unsplash_lkjhv9.jpg)">
          <li><%= link_to list.name, list_path(list), class: "text-decoration-none text-white" %></li>
        </div>
      <% end %>
    </div>
  </ul>
</div>
