<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(<%= object[:image]%>);">
  <div class="container">
    <h1><%= object[:title] %></h1>
    <p><%= object[:caption] %></p>
  </div>
</div>
