<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(https://c8.alamy.com/comp/2CFHNMB/celluloid-palace-scene-outside-a-movie-theater-on-the-southside-of-chicago-illinois-april-1941-2CFHNMB.jpg);">
  <div class="container">
    <h1><%= object[0] %></h1>
    <p><%= object[1] %></p>
  </div>
</div>
